body, html {
    font-family: 'Nunito' !important;
}

.main-images {
    text-align: center;
}

.the-nav {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.navlinkz {
    margin: 0 auto;
}

.bishop {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    display: inline-block;
    margin-bottom: 40px;
}

.hgbk {
    background: url('../img/karas.jpg');
    background-size: cover;
    margin-right: 10px;
}

.hhpt {
    background: url('../img/tawadros.jpg');
    background-size: cover;
    margin-left: 10px;
}

.logo {
    display: inline-block;
    height: 155px;
    background: url('../img/logo.png');
    background-size: cover;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.mainpage {
    margin-top: 30px;
}

.piece {
    width: 99%;
    height: 100%;
    border: solid 1px black;
    margin: 0 auto;
}

.season-image {
    height: 250px;
    width:25%;
    float: left;
    background: url('../img/season.jpg');
    background-size: cover;
}

.season {
    display: inline-block;
    width: 74%;
    margin-top: 25px;
}

.season-info {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 20px;
}

.season-title {
    font-size: 12px;
    display: block;
}

.actual-season {
    font-size: 30px;
    font-weight: 800;
    display: block;
    margin-bottom: 30px;
}

.season-description {
    width: 300px;
}

.date {
    float: right;
    font-weight: 600;
}

.readings {
    float: right;
    margin-right: 17px;
    margin-top: 20px;
}

.reading {
    display: block;
    text-decoration: underline;
    margin-bottom: 5px;
}

.side-link {
    font-weight: 800;
    display: block;
}

.side-link-piece {
    height: auto;
    padding: 15px;
}

.sermons {
    padding: 15px;
}

.sermons-title {
    font-weight: 800;
    display: block;
    margin-bottom: 15px;
}

.sermon-person {
    font-size: 13px;
    font-weight: 800;
    display: block;
}

.sermon-link {
    font-size: 13px;
    display: block;
    text-decoration: underline;
    padding-left: 20px;
}

.bottom-piece {
    width: 99%;
    height: 100%;
    margin: 0 auto;
}

.verse-contain {
    margin-top: 20px;
}

.verse-piece {
    border: solid 1px black;
    padding: 10px;
    padding-left: 15px;
}

.verse {
    margin-right: 10px;
}

.verse-location {
    font-weight: 800;
}